@charset "utf-8";
/*白色底面包屑*/
.dr_bread{
  border-top: 1px solid #666;
}
.w1360{
  width:1360px;
  margin:0 auto;
}
.dr_bread .bread_nav{
  color: #333;
  margin-left: 9px;
  height: 70px;
  line-height: 70px;
}
.dr_bread .bread_nav a,.dr_bread .bread_nav span{
  font-size: 13px;
  color: #333;
  padding-left: 6px;
}
.dr_bread .bread_nav a:hover,.dr_bread .bread_nav .s1:hover{
  color: #9b745c;
}
/*预约以及店铺*/
.shopmain{
  width:1000px;
  margin:0 auto;
  margin:30px auto 40px;
}
.shopmain::after{
  content: "";
  display:block;
  clear:both;
}
.shop_right{
  background: #fafafa;
  padding: 0 44px;
}
.shop_right .shopbx{
  padding-top: 75px;
  width: 310px;
  margin: 30px auto 0;
}
.shop_first::after{
  content: "";
  display: block;
  clear: both;
}
.shop_choose{margin-left:-9px;}
.shop_choose select {
  margin-left: 9px;
  width: 150px;
  padding:4px 0;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.shopbx .same{margin-top:17px;}
.shop_third input,.shop_five input{
  width:310px;
  padding: 8px 0 8px 8px;
  border: 1px solid #cbcbcb;
  font-size:12px;
}
.shop_third,.shop_five{position: relative;}
.shop_third strong,.shop_five strong{
  position: absolute;
  right: 10px;
  top: 10px;
  color: #bf967c;
  font-size:12px;
  vertical-align: middle;
}
/*时间*/
.shop_sec{position: relative;}
.shop_sec input{
  width: 310px;
  background:url(../img/culture/calendar.png) no-repeat 126px center;
  margin-right: 0;
  background-position: 96% center;
  height:33px;
  padding-left:8px;
  line-height:33px;
  border: 1px solid #cbcbcb;
}
.shop_sec span{
  width:147px;
  position: relative;
  height: 30px;
  border: 1px solid #cbcbcb;
  background: url(../img/culture/select.png) no-repeat 92% center;
  background-size: 10px auto;
}
.shop_sec em {
    display: inline-block;
    width: 139px;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
}

input.shopButton{
  border:1px solid #fff;
  display: block;
  margin: 20px auto 0;
  background: #a98f83;
  color: #fff;
  font-size: 14px;
  height: 38px;
  line-height: 38px;
  width: 200px;
  text-align: center
}
.shoporder_tips{
  color: #999;
  font: 12px/20px "microsoft yahei";
  text-align: center;
  margin-top:10px;
  padding: 10px 0;
}
.shopbx .click_p1{
  text-align: center;
  color:red;
  font-size:12px;
}
